footer{
    background-color: #2C3E50 !important;

}
.list-icon {
    width: 40px;
    height: 40px;
    transition: all 0.5s ease-in-out;
}
.list-icon:hover{
    color: #2C3E50 !important;
    border-color: white !important;
    background-color:white !important;
}